* {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial;
}

.background-grey {
    background: #eee;
    width: 800px;
}

.container {
    display: grid;
    grid-template-rows: 100px auto 20px;
    padding: 10px;
}

header {
    background: #cecece;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}

nav {
    justify-self: end;
}

nav a {
    color: #000;
    font-size: 12px;
    margin: 10px;
    letter-spacing: 2px;
}
.mid-content {
    display: grid;
    grid-template-columns: 300px repeat(2, 230px);
    grid-template-rows: repeat(2, 150px);
    background: #eee;
    padding: 10px;
    gap: 10px;
}

.large-image {
    grid-column: 1/2;
    grid-row: 1/3;
    background: pink;
    padding: 10px;
    display: grid;
}

.content > h3 {
    font-size: 1.5rem;
}

.content > a {
    border: 2px solid #8e8e8e;
    padding: 8px;
    text-align: center;
    color: #505050;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.mid-content > div:not(.large-image) {
    background: #f4fff4;
    text-align: center;
    line-height: 150px;
}

.content {
    align-self: center;
}

footer {
    align-items: center;
    justify-items: center;
    display: grid;
    font-size: 10px;
}
